<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.felixu.grass.oauthserver.mapper.UserInfoMapper">

    <resultMap id="userPermission" type="top.felixu.grass.oauthserver.entity.GrantedAuthority">
        <result property="name" column="permission"/>
    </resultMap>


    <resultMap  id="userDetails" type="top.felixu.grass.oauthserver.entity.UserDetails">
        <result property="id" column="id"/>
        <result property="loginName" column="login_name"/>
        <result property="employeeNum" column="employee_num"/>
        <result property="realname" column="realname"/>
        <result property="password" column="password"/>
        <collection property="grantedAuthorities" resultMap="userPermission"></collection>
    </resultMap>

    <select id="findUserDetails" resultMap="userDetails">
        SELECT
	        ui.id,
	        ui.login_name,
	        ui.realname,
	        ui.employee_num,
	        ui.password,
	        ri.role permission
        FROM
	        user_info ui
	    LEFT JOIN user_role ur ON ur.user_id = ui.id
	    LEFT JOIN role_info ri ON ur.role_id = ri.id
        WHERE
	        ui.employee_num = #{employeeNum}
    </select>
</mapper>
